<center>
	
	<div class="card bg-light mb-3 forget_password_card">
	  <div class="card-header"><h2>Forgot your password?</h2></div>
	  <div class="card-body">
	    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	  	<%= devise_error_messages! %>
	      <fieldset>
	        <div class="form-group">
	          <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: "Enter email"%>
	          <small id="emailHelp" class="form-text text-muted">We'll send a password reset link to this email</small>
	        </div>
	       </fieldset>
	  
	        <%= f.submit "Send me reset password instructions", class: "btn btn-danger large-button" %>
	      </fieldset>
	    <%end%>
	  </div>
	</div>
</center>
