<center>
<h2>Dashboard</h2>
<div class="card bg-light mb-3 login_card">
  <div class="card-header"></div>
  <div class="card-body">
      <div class="container-fluid">
		  <h4>Setup</h4>
		  <div class="row">
		    <div class="col-sm-6">
		    	<span class="badge badge-primary"><a href="/customer/new">Create Customer</a></span>
		    	<span class="badge badge-error"><a href="/lottery/new">Create Lottery</a></span>
		    	
		    </div>
		    <div class="col-sm-6">
		      <span class="badge badge-success"><a href="/customer/index">All Customers</a></span>
		    <span class="badge badge-warning"><a href="/lottery/index">Create Customer</a></span>
		    </div>
		  </div>
		  <br>
		  <hr>
		  <br>
		  <h4>Transaction</h4>
		  <div class="row">
		    <div class="col-sm-6">
		    	<span class="badge badge-primary">Create Customer</span>
		    	<span class="badge badge-error">Create Lottery</span>
		    </div>
		    <div class="col-sm-6">
		      <span class="badge badge-success">All Customers</span>
		    <span class="badge badge-warning">All Lotteries</span>
		    </div>
		  </div>
	 </div>    
  </div>
</div>
</center>
<style>
a, a:hover, a:hover
{
	color: white;
	text-decoration: none;
}
</style>