/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.card {
  box-shadow: 0 0 20px 0;
  transition: 0.3s;
  height: auto;
  margin: 10px;
  padding: 45px;
  max-width: 46rem;
}
.login_card
{
  margin-top: 91px; 
}
.register_card
{
  margin-top: 91px; 
}
.forget_password_card
{
  margin-top: 91px; 
}
.medium-button
{
	width: 147px;
}
.large-button
{
	width: 250px;
}
.badge {
  padding: 1px 9px 2px;
  font-size: 12.025px;
  font-weight: bold;
  white-space: nowrap;
  color: #ffffff;
  background-color: #999999;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
.badge:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.badge-error {
  background-color: #b94a48;
}
.badge-error:hover {
  background-color: #953b39;
}
.badge-warning {
  background-color: #f89406;
}
.badge-warning:hover {
  background-color: #c67605;
}
.badge-success {
  background-color: #468847;
}
.badge-success:hover {
  background-color: #356635;
}
.badge-primary {
  background-color: #3a87ad;
}
.badge-primary:hover {
  background-color: #2d6987;
}
.badge-inverse {
  background-color: #333333;
}
.badge-inverse:hover {
  background-color: #1a1a1a;
}

.search_customer_sec {
  position: relative;
  margin-bottom: 10px;
}
.display_customer_list {
    position: absolute;
    width: 100%;
    background: #fff;
    border: 1px solid #aaa;
    max-height: 300px;
    overflow-y: auto;
    display:none;
    z-index: 9;
}
.display_customer_list ul{
  padding-left: 0px;
  list-style: none;
  margin: 0;
}
.display_customer_list a:hover {
    background: #eee;
}

.display_customer_list a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #333;
}

.search_lottery_sec {
  position: relative;
  margin-bottom: 10px;
  
}
.display_lottery_list {
    position: absolute;
    width: 100%;
    background: #fff;
    border: 1px solid #aaa;
    max-height: 300px;
    overflow-y: auto;
    display:none;
    z-index: 9;
}
.display_lottery_list ul{
  padding-left: 0px;
  list-style: none;
  margin: 0;
}
.display_lottery_list a:hover {
    background: #eee;
}

.display_lottery_list a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #333;
}